<!DOCTYPE html>
<html lang="en" class="<%= cookies["theme"] %> h-screen overflow-hidden">
  <head>
    <%= yield :title_section %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style><%= yield :stylesheets %></style>
  </head>

  <body class="h-full bg-windows dark:bg-dark-windows">
    <%= yield %>
  </body>
</html>
